<%- include('./partials/head') %>
<%- include('./partials/navigation', {current: '/lessons'}); %>

<main class="lessons">
  <section>
    <svg width="390" height="54" viewBox="0 0 390 54" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M57.6906 23.0627C56.8328 23.0627 56.0664 23.2454 55.3912 23.6106C54.7216 23.9703 54.1959 24.4683 53.8141 25.1047C53.4378 25.7356 53.2496 26.4578 53.2496 27.2712V27.2878C53.2496 28.0404 53.4156 28.7156 53.7477 29.3132C54.0852 29.9109 54.5473 30.3813 55.1339 30.7244C55.7205 31.0675 56.3956 31.239 57.1593 31.239C57.7127 31.239 58.1941 31.156 58.6036 30.99C59.0187 30.824 59.3673 30.6054 59.6495 30.3342C59.9318 30.0631 60.1448 29.7698 60.2887 29.4543H60.5792V27.2463H60.0812V27.2629C60.0812 27.7112 59.976 28.1124 59.7657 28.4666C59.5555 28.8207 59.2705 29.0974 58.9108 29.2966C58.5511 29.4958 58.1443 29.5955 57.6906 29.5955C57.2368 29.5955 56.8328 29.4931 56.4786 29.2883C56.1245 29.0836 55.845 28.8041 55.6403 28.45C55.4355 28.0903 55.3331 27.678 55.3331 27.2131V27.1965C55.3331 26.7483 55.441 26.3443 55.6569 25.9846C55.8727 25.6194 56.1604 25.3316 56.5201 25.1213C56.8798 24.9111 57.2755 24.8059 57.7072 24.8059C58.1554 24.8059 58.5566 24.9138 58.9108 25.1296C59.2705 25.3455 59.5555 25.6388 59.7657 26.0095C59.976 26.3803 60.0812 26.7926 60.0812 27.2463L60.4547 29.2468C60.4547 29.3243 60.4547 29.4045 60.4547 29.4875C60.4547 29.565 60.4519 29.6453 60.4464 29.7283C60.4187 30.4919 60.3025 31.1892 60.0978 31.8201C59.8986 32.4454 59.597 32.9462 59.193 33.3225C58.7946 33.6933 58.2799 33.8787 57.649 33.8787C57.3004 33.8787 56.985 33.8233 56.7028 33.7126C56.4261 33.5964 56.1881 33.4332 55.9889 33.2229C55.7952 33.0126 55.6458 32.7691 55.5406 32.4924L55.5074 32.4094H53.4073L53.424 32.5007C53.5568 33.1095 53.8141 33.6518 54.1959 34.1277C54.5833 34.5981 55.0703 34.9688 55.6569 35.24C56.249 35.5056 56.913 35.6384 57.649 35.6384C58.6507 35.6384 59.5112 35.3839 60.2306 34.8748C60.9555 34.3601 61.5117 33.6241 61.899 32.6667C62.2864 31.7094 62.4801 30.5583 62.4801 29.2136V29.197C62.4801 28.1124 62.3528 27.1855 62.0983 26.4163C61.8437 25.6415 61.4923 25.0079 61.0441 24.5154C60.6014 24.0173 60.0922 23.6521 59.5167 23.4197C58.9412 23.1817 58.3325 23.0627 57.6906 23.0627ZM66.2487 33.7292C66.6305 33.7292 66.9459 33.6047 67.1949 33.3557C67.444 33.1012 67.5685 32.7913 67.5685 32.426C67.5685 32.0553 67.444 31.7454 67.1949 31.4963C66.9459 31.2418 66.6305 31.1145 66.2487 31.1145C65.8724 31.1145 65.5569 31.2418 65.3024 31.4963C65.0533 31.7454 64.9288 32.0553 64.9288 32.426C64.9288 32.7913 65.0533 33.1012 65.3024 33.3557C65.5569 33.6047 65.8724 33.7292 66.2487 33.7292ZM66.2487 27.5701C66.6305 27.5701 66.9459 27.4456 67.1949 27.1965C67.444 26.942 67.5685 26.6321 67.5685 26.2668C67.5685 25.8961 67.444 25.5862 67.1949 25.3372C66.9459 25.0826 66.6305 24.9553 66.2487 24.9553C65.8724 24.9553 65.5569 25.0826 65.3024 25.3372C65.0533 25.5862 64.9288 25.8961 64.9288 26.2668C64.9288 26.6321 65.0533 26.942 65.3024 27.1965C65.5569 27.4456 65.8724 27.5701 66.2487 27.5701ZM75.8278 35.3396H77.8698V33.0403H79.4884V31.2722H77.8698V23.3616H74.8566C74.5245 23.8541 74.1925 24.3604 73.8605 24.8806C73.534 25.3953 73.2047 25.9182 72.8727 26.4495C72.5462 26.9752 72.2169 27.5092 71.8849 28.0515C71.5584 28.5883 71.2347 29.1278 70.9137 29.6702C70.5983 30.2125 70.2828 30.752 69.9674 31.2888V33.0403H75.8278V35.3396ZM71.9596 31.322V31.1975C72.192 30.788 72.4327 30.3757 72.6818 29.9607C72.9308 29.5401 73.1826 29.1223 73.4371 28.7073C73.6917 28.2867 73.949 27.8689 74.2091 27.4539C74.4692 27.0388 74.7265 26.6321 74.9811 26.2336C75.2412 25.8352 75.493 25.4478 75.7365 25.0715H75.861V31.322H71.9596ZM84.444 35.3396H86.5773V23.3616H84.444L81.3146 25.5613V27.5701L84.2946 25.47H84.444V35.3396Z" fill="white"/>
      <rect opacity="0.35" x="334" y="23.5" width="24" height="12" rx="3.8" stroke="white"/>
      <path opacity="0.4" d="M359.5 27.7811V31.8566C360.305 31.5114 360.828 30.7085 360.828 29.8189C360.828 28.9293 360.305 28.1263 359.5 27.7811Z" fill="white"/>
      <rect x="335.5" y="25" width="21" height="9" rx="2.5" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M317.771 26.104C320.258 26.1041 322.65 27.0262 324.452 28.6796C324.588 28.8073 324.805 28.8057 324.939 28.676L326.236 27.4126C326.304 27.3468 326.341 27.2577 326.341 27.165C326.34 27.0724 326.302 26.9837 326.233 26.9187C321.502 22.544 314.038 22.544 309.307 26.9187C309.239 26.9837 309.2 27.0723 309.199 27.165C309.199 27.2577 309.236 27.3468 309.304 27.4126L310.602 28.676C310.735 28.8059 310.952 28.8075 311.088 28.6796C312.891 27.0261 315.283 26.104 317.771 26.104ZM317.767 30.3243C319.124 30.3242 320.433 30.8359 321.439 31.76C321.576 31.8912 321.79 31.8883 321.923 31.7536L323.21 30.4343C323.278 30.3651 323.315 30.2712 323.314 30.1737C323.313 30.0761 323.274 29.9831 323.205 29.9153C320.141 27.0244 315.396 27.0244 312.332 29.9153C312.263 29.9831 312.224 30.0762 312.223 30.1738C312.222 30.2714 312.26 30.3652 312.327 30.4343L313.614 31.7536C313.747 31.8883 313.961 31.8912 314.097 31.76C315.103 30.8365 316.411 30.3248 317.767 30.3243ZM320.292 33.1178C320.294 33.2232 320.256 33.3247 320.189 33.3985L318.012 35.8533C317.949 35.9254 317.862 35.966 317.771 35.966C317.68 35.966 317.593 35.9254 317.529 35.8533L315.352 33.3985C315.285 33.3247 315.248 33.2231 315.25 33.1177C315.252 33.0124 315.293 32.9126 315.363 32.842C316.753 31.5281 318.789 31.5281 320.179 32.842C320.249 32.9127 320.29 33.0125 320.292 33.1178Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M301.7 24.682C301.7 24.0489 301.222 23.5358 300.633 23.5358H299.567C298.978 23.5358 298.5 24.0489 298.5 24.682V34.616C298.5 35.249 298.978 35.7622 299.567 35.7622H300.633C301.222 35.7622 301.7 35.249 301.7 34.616V24.682ZM294.266 25.981H295.333C295.922 25.981 296.399 26.5065 296.399 27.1548V34.5884C296.399 35.2367 295.922 35.7622 295.333 35.7622H294.266C293.677 35.7622 293.199 35.2367 293.199 34.5884V27.1548C293.199 26.5065 293.677 25.981 294.266 25.981ZM289.934 28.6301H288.867C288.278 28.6301 287.801 29.1623 287.801 29.8188V34.5735C287.801 35.23 288.278 35.7622 288.867 35.7622H289.934C290.523 35.7622 291.001 35.23 291.001 34.5735V29.8188C291.001 29.1623 290.523 28.6301 289.934 28.6301ZM284.633 31.0754H283.567C282.978 31.0754 282.5 31.6 282.5 32.2471V34.5905C282.5 35.2376 282.978 35.7622 283.567 35.7622H284.633C285.222 35.7622 285.7 35.2376 285.7 34.5905V32.2471C285.7 31.6 285.222 31.0754 284.633 31.0754Z" fill="white"/>
      </svg>
    <h1>Lessons</h1>
    <div>
      <ol>
        <li>Listening 
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9583 2.16663C11.9583 4.58287 13.917 6.54163 16.3333 6.54163C16.6785 6.54163 16.9583 6.82145 16.9583 7.16663C16.9583 7.5118 16.6785 7.79163 16.3333 7.79163C14.5663 7.79163 12.9895 6.97683 11.9583 5.70246V15.5C11.9583 17.6861 10.1861 19.4583 7.99996 19.4583C5.81383 19.4583 4.04163 17.6861 4.04163 15.5C4.04163 13.3138 5.81383 11.5416 7.99996 11.5416C9.04764 11.5416 10.0002 11.9486 10.7083 12.6132V2.16663H11.9583ZM10.7083 15.5C10.7083 14.0042 9.49573 12.7916 7.99996 12.7916C6.50419 12.7916 5.29163 14.0042 5.29163 15.5C5.29163 16.9957 6.50419 18.2083 7.99996 18.2083C9.49573 18.2083 10.7083 16.9957 10.7083 15.5Z" fill="white"/>
          </svg>
        </li>
        <li>Your first words
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70829 13.8333C7.70829 12.5676 8.73431 11.5416 9.99996 11.5416C11.2656 11.5416 12.2916 12.5676 12.2916 13.8333C12.2916 15.0989 11.2656 16.125 9.99996 16.125C8.73431 16.125 7.70829 15.0989 7.70829 13.8333ZM9.99996 12.7916C9.42466 12.7916 8.95829 13.258 8.95829 13.8333C8.95829 14.4086 9.42466 14.875 9.99996 14.875C10.5753 14.875 11.0416 14.4086 11.0416 13.8333C11.0416 13.258 10.5753 12.7916 9.99996 12.7916Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.37496 8.25227V7.16663C4.37496 4.06002 6.89336 1.54163 9.99996 1.54163C13.1066 1.54163 15.625 4.06002 15.625 7.16663V8.25226C15.814 8.26555 15.9921 8.28286 16.1598 8.30539C16.9098 8.40624 17.5414 8.62199 18.043 9.12358C18.5446 9.62518 18.7603 10.2567 18.8612 11.0068C18.9583 11.7293 18.9583 12.6479 18.9583 13.7876V13.879C18.9583 15.0187 18.9583 15.9373 18.8612 16.6598C18.7603 17.4098 18.5446 18.0414 18.043 18.543C17.5414 19.0446 16.9098 19.2603 16.1598 19.3612C15.4373 19.4583 14.5187 19.4583 13.379 19.4583H6.6209C5.48124 19.4583 4.56264 19.4583 3.84017 19.3612C3.09008 19.2603 2.45852 19.0446 1.95692 18.543C1.45532 18.0414 1.23958 17.4098 1.13873 16.6598C1.0416 15.9373 1.04161 15.0187 1.04163 13.879V13.7876C1.04161 12.6479 1.0416 11.7293 1.13873 11.0068C1.23958 10.2567 1.45532 9.62518 1.95692 9.12358C2.45852 8.62199 3.09008 8.40624 3.84017 8.30539C4.00777 8.28286 4.18593 8.26556 4.37496 8.25227ZM5.62496 7.16663C5.62496 4.75038 7.58372 2.79163 9.99996 2.79163C12.4162 2.79163 14.375 4.75038 14.375 7.16663V8.21116C14.0637 8.20828 13.732 8.20829 13.379 8.20829H6.6209C6.26797 8.20829 5.93623 8.20828 5.62496 8.21116V7.16663ZM4.00673 9.54425C3.39525 9.62646 3.07144 9.77683 2.8408 10.0075C2.61017 10.2381 2.45979 10.5619 2.37758 11.1734C2.29295 11.8029 2.29163 12.6371 2.29163 13.8333C2.29163 15.0295 2.29295 15.8637 2.37758 16.4932C2.45979 17.1047 2.61017 17.4285 2.8408 17.6591C3.07144 17.8898 3.39525 18.0401 4.00673 18.1223C4.63619 18.207 5.47045 18.2083 6.66663 18.2083H13.3333C14.5295 18.2083 15.3637 18.207 15.9932 18.1223C16.6047 18.0401 16.9285 17.8898 17.1591 17.6591C17.3898 17.4285 17.5401 17.1047 17.6223 16.4932C17.707 15.8637 17.7083 15.0295 17.7083 13.8333C17.7083 12.6371 17.707 11.8029 17.6223 11.1734C17.5401 10.5619 17.3898 10.2381 17.1591 10.0075C16.9285 9.77683 16.6047 9.62646 15.9932 9.54425C15.3637 9.45962 14.5295 9.45829 13.3333 9.45829H6.66663C5.47045 9.45829 4.63619 9.45962 4.00673 9.54425Z" fill="white"/>
          </svg>
        </li>
        <li>Your last words
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70829 13.8333C7.70829 12.5676 8.73431 11.5416 9.99996 11.5416C11.2656 11.5416 12.2916 12.5676 12.2916 13.8333C12.2916 15.0989 11.2656 16.125 9.99996 16.125C8.73431 16.125 7.70829 15.0989 7.70829 13.8333ZM9.99996 12.7916C9.42466 12.7916 8.95829 13.258 8.95829 13.8333C8.95829 14.4086 9.42466 14.875 9.99996 14.875C10.5753 14.875 11.0416 14.4086 11.0416 13.8333C11.0416 13.258 10.5753 12.7916 9.99996 12.7916Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.37496 8.25227V7.16663C4.37496 4.06002 6.89336 1.54163 9.99996 1.54163C13.1066 1.54163 15.625 4.06002 15.625 7.16663V8.25226C15.814 8.26555 15.9921 8.28286 16.1598 8.30539C16.9098 8.40624 17.5414 8.62199 18.043 9.12358C18.5446 9.62518 18.7603 10.2567 18.8612 11.0068C18.9583 11.7293 18.9583 12.6479 18.9583 13.7876V13.879C18.9583 15.0187 18.9583 15.9373 18.8612 16.6598C18.7603 17.4098 18.5446 18.0414 18.043 18.543C17.5414 19.0446 16.9098 19.2603 16.1598 19.3612C15.4373 19.4583 14.5187 19.4583 13.379 19.4583H6.6209C5.48124 19.4583 4.56264 19.4583 3.84017 19.3612C3.09008 19.2603 2.45852 19.0446 1.95692 18.543C1.45532 18.0414 1.23958 17.4098 1.13873 16.6598C1.0416 15.9373 1.04161 15.0187 1.04163 13.879V13.7876C1.04161 12.6479 1.0416 11.7293 1.13873 11.0068C1.23958 10.2567 1.45532 9.62518 1.95692 9.12358C2.45852 8.62199 3.09008 8.40624 3.84017 8.30539C4.00777 8.28286 4.18593 8.26556 4.37496 8.25227ZM5.62496 7.16663C5.62496 4.75038 7.58372 2.79163 9.99996 2.79163C12.4162 2.79163 14.375 4.75038 14.375 7.16663V8.21116C14.0637 8.20828 13.732 8.20829 13.379 8.20829H6.6209C6.26797 8.20829 5.93623 8.20828 5.62496 8.21116V7.16663ZM4.00673 9.54425C3.39525 9.62646 3.07144 9.77683 2.8408 10.0075C2.61017 10.2381 2.45979 10.5619 2.37758 11.1734C2.29295 11.8029 2.29163 12.6371 2.29163 13.8333C2.29163 15.0295 2.29295 15.8637 2.37758 16.4932C2.45979 17.1047 2.61017 17.4285 2.8408 17.6591C3.07144 17.8898 3.39525 18.0401 4.00673 18.1223C4.63619 18.207 5.47045 18.2083 6.66663 18.2083H13.3333C14.5295 18.2083 15.3637 18.207 15.9932 18.1223C16.6047 18.0401 16.9285 17.8898 17.1591 17.6591C17.3898 17.4285 17.5401 17.1047 17.6223 16.4932C17.707 15.8637 17.7083 15.0295 17.7083 13.8333C17.7083 12.6371 17.707 11.8029 17.6223 11.1734C17.5401 10.5619 17.3898 10.2381 17.1591 10.0075C16.9285 9.77683 16.6047 9.62646 15.9932 9.54425C15.3637 9.45962 14.5295 9.45829 13.3333 9.45829H6.66663C5.47045 9.45829 4.63619 9.45962 4.00673 9.54425Z" fill="white"/>
          </svg>
        </li>
      </ol>
    </div>
  </section>

  <section>
    <h2>Own playlists</h2>
    <div>
      <ul><% playlist.forEach(playlist => { %>
        <li>
          <a>
            <picture>
              <% if (playlist.image ==null) { %>
                <img class="playlist-img" src='Placeholder-1.png' width="112" height="95" loading="lazy">
              <% } else { %>
                <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image %>?format=avif" type="image/avif">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= playlist.image %>?format=webp" type="image/webp">
                <img class="playlist-img" src="https://fdnd-agency.directus.app/assets/<%= playlist.image %>?format=webp" width="112" height="95" 
                loading="lazy" onerror="this.onerror=null;this.src='Placeholder-1.png';" alt="playlist">
                <% } %>
            </picture>

            <h3 class="playlist-title"><%= playlist.title %></h3>

            <div class="play-audio">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="12" fill="#F3A22A"/>
                <rect width="16.8" height="16.8" transform="translate(3.59961 3.6001)" fill="#F3A22A"/>
                <path d="M17.0874 13.0614C17.7817 12.5242 17.7817 11.476 17.0874 10.9387C14.9891 9.31514 12.6461 8.03543 10.146 7.14749L9.68929 6.98528C8.8155 6.67494 7.89254 7.26613 7.77425 8.16812C7.44374 10.6883 7.44374 13.3119 7.77425 15.832C7.89254 16.734 8.8155 17.3252 9.68929 17.0148L10.146 16.8526C12.6461 15.9647 14.9891 14.685 17.0874 13.0614Z" fill="white"/>
              </svg>
              <p>31 min. 55sec</p>
            </div>
          </a>
        </li>
        <% }) %>
        
        <li> <!-- popup window needs to be added here  -->
          <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="30" width="8" height="68" rx="4" fill="white"/>
            <rect x="68" y="30" width="8" height="68" rx="4" transform="rotate(90 68 30)" fill="white"/>
          </svg>                        
          <h3>Make a playlist!</h3>
          <p>Add your favourite stories in one playlist</p>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div>
      <h2>All stories</h2>
      <a href="/all-stories"><h3>Show all</h3></a>
    </div>
    <form action="/" method="get">
    <% language.forEach(language => { %>
      <button aria-label="language" type="button">
        <img src="https://fdnd-agency.directus.app/assets/<%= language.flag %>" width="22" height="16"
        loading="lazy" onerror="this.onerror=null;this.src='Placeholder-1.png';" alt="language flag">
        <%- language.language %>
      </button>
      <% }) %>
    </form>

    <%- include('./partials/stories') %>

    <span class="tab-buttons">
      <button id="prevBtn" aria-label="previous"><</button>
      <button id="nextBtn" aria-label="next">></button>
    </span>
  </section>

  <section>
    <h2>Liked playlists</h2>
    <div class="liked-playlist">
      <% if (playlist.filter(playlistItem => likes[playlistItem.id]).length > 0) { %>
        <%- include('./partials/liked-playlist') %>
      <% } else { %>
        <div>
          <p>You have no liked playlists.</p>
        </div>
      <% } %>
    </div>


    <h2>Suggested playlists</h2>
    <div>
      <% if (playlist.filter(playlistItem => !likes[playlistItem.id]).length > 0) { %>
      <ul>
        <%- include('./partials/suggested-playlist') %>
      </ul>
      <% } else { %>
        <div>
          <p>no suggested playlists</p>
        </div>
      <% } %>
    </div>
  </section>
</main>

<%- include('./partials/foot') %>